h1{
text-align: center;
font-family: Helvetica, Arial, Sans-Serif;
width: 300px;
background-color: #ffffff;
border: 10px solid black;
padding: 5px;
margin: auto;
font-size: 60px;
}
h2{
  width: 500px;
  height: 150px;
  margin: auto;
}
h3{
text-align: center;
font-family: Helvetica, Arial, Sans-Serif;
width: 300px;
margin: auto;
font-size: 30px;
padding: 10px;
}
h4{
  width: 100px;
  height: 550px;
}
img{
  width: 700px;
  height: 100px;
  align-content: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
div{
text-align: center;
font-family: Helvetica, Arial, Sans-Serif;
max-width: 5000px;
background:#7f7f7f;
background:rgba(138, 138, 138,0.5);
border: 5px solid black;
padding: 10px;
margin: auto;
}
a{
text-decoration-color: #363636;
text-emphasis-color: -color: #005c26;
text-align: center;
font-family: Helvetica, Arial, Sans-Serif;
width: 300px;
background-color: #ffffff;
border: 15px solid black;
padding: 10px;
margin: auto;
font-size: 40px;
}
body {
 background-image: url("https://f4.bcbits.com/img/a0798007642_16.jpg");
 background-repeat: repeat-x;
 background-color: #B8C57A;
}
